section#bullets.bullets
	.container.bullets__container
		.bullets-item
			img(src="./img/desk/bullet-garant.svg", alt="Гарантия 3 года")
			p.bullets-item__title 3 года гарантии
			p.bullets-item__title--min
		.bullets-item
			img(src="./img/desk/bullet-fish.svg", alt="Клёвый клёв")
			p.bullets-item__title Клёв с первой минуты
			p.bullets-item__title--min Реальный опыт покупателей
		.bullets-item
			img(src="./img/desk/bullet-pig.svg", alt="Экономия")
			p.bullets-item__title Экономит 1500 рублей
			p.bullets-item__title--min Не нужно покупать эхолот
		.bullets-item
			img(src="./img/desk/bullet-distance.svg", alt="Дальность")
			p.bullets-item__title Дальность 500&nbsp;м
			p.bullets-item__title--min