section.buy-get
	img(src="./img/desk/white-noise--contact.png", alt="")
	img(src="./img/desk/white-noise--contact.png", alt="")
	.container.buy-get__container
		.buy-get__title Купи катер и получи:
		.buy-get-benefits
			img.buy-get-benefits__img(src="./img/desk/buy-get-benefit.png", alt="")
			p.buy-get-benefits__star Новые личные рекорды
			p.buy-get-benefits__new Новый подход к рыбалке - роботизированная ловля
			p.buy-get-benefits__cool Реальный улов - удивишь жену и друзей!