#popup-catalog-item
	.popup-catalog-item
		.popup-catalog-item-left
			p.popup-catalog-item__title Радиоуправляемый катер Jabo 2Bl с эхолотом
			img(src='./img/desk/catalog/catalog-item-popup-rating-5.png')
			.popup-catalog-item-slider
				.popup-catalog-item-slider-box
					img(src="./img/desk/catalog/slider-items/jabo-2bl-eco-1.jpg", alt="")
				.popup-catalog-item-slider-box
					img(src="./img/desk/catalog/slider-items/jabo-2bl-eco-2.jpg", alt="")
				.popup-catalog-item-slider-box
					img(src="./img/desk/catalog/slider-items/jabo-2bl-eco-3.jpg", alt="")
				.popup-catalog-item-slider-box
					img(src="./img/desk/catalog/slider-items/jabo-2bl-eco-4.jpg", alt="")

			.popup-catalog-item-slider__nav
				.popup-catalog-item-slider-box__nav
					img(src="./img/desk/catalog/slider-items/jabo-2bl-eco-1.jpg", alt="")
				.popup-catalog-item-slider-box__nav
					img(src="./img/desk/catalog/slider-items/jabo-2bl-eco-2.jpg", alt="")
				.popup-catalog-item-slider-box__nav
					img(src="./img/desk/catalog/slider-items/jabo-2bl-eco-3.jpg", alt="")
				.popup-catalog-item-slider-box__nav
					img(src="./img/desk/catalog/slider-items/jabo-2bl-eco-4.jpg", alt="")

			.popup-catalog-item-desc
				p.popup-catalog-item-desc__title Подробное описание:
				.popup-catalog-item-desc__wrapper
					p.popup-catalog-item-desc__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eius, rem porro harum, eum praesentium iusto temporibus? Mollitia rerum fugit beatae pariatur eaque itaque quasi?

		.popup-catalog-item-right
			p.popup-catalog-item__title Радиоуправляемый катер Jabo 2Bl с эхолотом
			img(src='./img/desk/catalog/catalog-item-popup-rating-5.png')
			.popup-catalog-item-chars
				span.popup-catalog-item-chars__title Краткая характеристика:
				p.popup-catalog-item-chars__text.popup-catalog-item-chars__text--time Время работы: около 3-х часов
				p.popup-catalog-item-chars__text.popup-catalog-item-chars__text--radius Радиус действия: 300 м
				p.popup-catalog-item-chars__text.popup-catalog-item-chars__text--weight Грузоподъемность
				p.popup-catalog-item-chars__text.popup-catalog-item-chars__text--speed Скорость: 5.5 км/ч
			.popup-catalog-item-price-list
				span Цена:
				p.popup-catalog-item-price-list__price 18 590 Руб.
				p.popup-catalog-item-price-list__price-del
			a.popup-catalog-item__btn(type='button' href="") Купить в 1 клик
			form(action="")


				input(type="hidden" id='model-price' name ='model-price' value='')
				input(type="hidden" id='model-name' name ='model-name' value='')
