section#catalog-block.catalog-block
	.container.catalog-block__container
		p.catalog-block__title Выбери свой катер
		p Закажи сегодня - доставим в срок

		section#catalog.catalog

			.catalog-item#jabo-2al
				.catalog-item-img__wrapper
					img.catalog-item-img(src="./img/desk/catalog/jabo-2al.jpg", alt="Jabo 2AL")
				p.catalog-item__title Радиоуправляемый катер Jabo 2AL
				.catalog-item-chars
					p.catalog-item-chars__text.catalog-item-chars__text--time Время работы: около 3-х часов
					p.catalog-item-chars__text.catalog-item-chars__text--radius Радиус действия: 300 м
					p.catalog-item-chars__text.catalog-item-chars__text--weight Грузоподъемность: 1.5 кг
					p.catalog-item-chars__text.catalog-item-chars__text--speed Скорость: 5.5 км/ч
				a.catalog-item__btn-details Подробнее
				.catalog-item-price-list
					span Цена:
					p.catalog-item-price-list__price 13 490 Руб.
					p.catalog-item-price-list__price-del 16 990 Руб.
				a.catalog-item__btn(type='button') Купить в 1 клик

			.catalog-item#jabo-2ad
				.catalog-item-img__wrapper
					img.catalog-item-img(src="./img/desk/catalog/jabo-2ad.jpg", alt="Jabo 2AD")
				p.catalog-item__title Радиоуправляемый катер Jabo 2AD
				.catalog-item-chars
					p.catalog-item-chars__text.catalog-item-chars__text--time Время работы: 5 часов
					p.catalog-item-chars__text.catalog-item-chars__text--radius Радиус действия: 300 м
					p.catalog-item-chars__text.catalog-item-chars__text--weight Грузоподъемность: 1.5 кг
					p.catalog-item-chars__text.catalog-item-chars__text--speed Скорость: 1.3 км/ч
				a.catalog-item__btn-details Подробнее
				.catalog-item-price-list
					span Цена:
					p.catalog-item-price-list__price 17 690 Руб.
					//- p.catalog-item-price-list__price-del 16 990 Руб.
				.catalog-item__btn Купить в 1 клик

			.catalog-item#jabo-2bl-eco
				.catalog-item-img__wrapper
					img.catalog-item-img(src="./img/desk/catalog/jabo-2bl-eco.jpg", alt="Jabo 2AL")
				p.catalog-item__title Радиоуправляемый катер Jabo 2BL с эхолотом
				.catalog-item-chars
					p.catalog-item-chars__text.catalog-item-chars__text--time Время работы: около 3-х часов
					p.catalog-item-chars__text.catalog-item-chars__text--radius Радиус действия: 300 м
					p.catalog-item-chars__text.catalog-item-chars__text--weight Грузоподъемность: 1.5 кг
					p.catalog-item-chars__text.catalog-item-chars__text--speed Скорость: 5.5 км/ч
				a.catalog-item__btn-details Подробнее
				.catalog-item-price-list
					span Цена:
					p.catalog-item-price-list__price 18 590 Руб.
					//- p.catalog-item-price-list__price-del 16 990 Руб.
				.catalog-item__btn Купить в 1 клик

			.catalog-item#jabo-2cg-gps-eco
				.catalog-item-img__wrapper
					img.catalog-item-img(src="./img/desk/catalog/jabo-2cg-l20-gps-eco.jpg", alt="Jabo 2AL")
				p.catalog-item__title Радиоуправляемый катер Jabo 2CG L20 с GPS и эхолотом
				.catalog-item-chars
					p.catalog-item-chars__text.catalog-item-chars__text--time Время работы: около 6 часов
					p.catalog-item-chars__text.catalog-item-chars__text--radius Радиус действия: 300 м
					p.catalog-item-chars__text.catalog-item-chars__text--weight Грузоподъемность: 1.5 кг
					p.catalog-item-chars__text.catalog-item-chars__text--speed Скорость: 5.5 км/ч
				a.catalog-item__btn-details Подробнее
				.catalog-item-price-list
					span Цена:
					p.catalog-item-price-list__price 19 990 Руб.
					//- p.catalog-item-price-list__price-del 16 990 Руб.
				.catalog-item__btn Купить в 1 клик

			.catalog-item#jabo-2ag-gps-auto
				.catalog-item-img__wrapper
					img.catalog-item-img(src="./img/desk/catalog/jabo-2ag-gps-auto.jpg", alt="Jabo 2AL")
				p.catalog-item__title Радиоуправляемый катер Jabo 2AG с GPS и автопилотом
				.catalog-item-chars
					p.catalog-item-chars__text.catalog-item-chars__text--time Время работы: 4-5 часов
					p.catalog-item-chars__text.catalog-item-chars__text--radius Радиус действия: более 300 м
					p.catalog-item-chars__text.catalog-item-chars__text--weight Грузоподъемность: 1.5 кг
					p.catalog-item-chars__text.catalog-item-chars__text--speed Скорость: 1-2 м/с (до 7 км/ч)
				a.catalog-item__btn-details Подробнее
				.catalog-item-price-list
					span Цена:
					p.catalog-item-price-list__price 22 730 Руб.
					p.catalog-item-price-list__price-del 18 200 Руб.
				.catalog-item__btn Купить в 1 клик

			.catalog-item#jabo-5a-10a-gps-eco
				.catalog-item-img__wrapper
					img.catalog-item-img(src="./img/desk/catalog/jabo-5a-10a-gps-eco.jpg", alt="Jabo 5A 10A")
				p.catalog-item__title Радиоуправляемый катамаран Jabo 5A 10A с GPS и эхолотом
				.catalog-item-chars
					p.catalog-item-chars__text.catalog-item-chars__text--time Время работы: около 3-х часов
					p.catalog-item-chars__text.catalog-item-chars__text--radius Радиус действия: до 500 м
					p.catalog-item-chars__text.catalog-item-chars__text--weight Грузоподъемность: 1.5 кг
					p.catalog-item-chars__text.catalog-item-chars__text--speed Скорость: 8-10 км/ч
				a.catalog-item__btn-details Подробнее
				.catalog-item-price-list
					span Цена:
					p.catalog-item-price-list__price 24 990 Руб.
					//- p.catalog-item-price-list__price-del 16 990 Руб.
				.catalog-item__btn Купить в 1 клик

			.catalog-item#jabo-2d-gps-eco-container
				.catalog-item-img__wrapper
					img.catalog-item-img(src="./img/desk/catalog/jabo-2d-gps-eco-container.jpg", alt="Jabo 2AL")
				p.catalog-item__title Радиоуправляемый катер Jabo 2D с GPS, эхолотом и контейнером для приманки
				.catalog-item-chars
					p.catalog-item-chars__text.catalog-item-chars__text--time Время работы: 3 часа
					p.catalog-item-chars__text.catalog-item-chars__text--radius Радиус действия: 300 м
					p.catalog-item-chars__text.catalog-item-chars__text--weight Грузоподъемность: 1.5 кг
					p.catalog-item-chars__text.catalog-item-chars__text--speed Скорость: 7.2 км/ч
				a.catalog-item__btn-details Подробнее
				.catalog-item-price-list
					span Цена:
					p.catalog-item-price-list__price 28 990 Руб.
					//- p.catalog-item-price-list__price-del 16 990 Руб.
				.catalog-item__btn Купить в 1 клик

			.catalog-item#jabo-5cg-gps-eco
				.catalog-item-img__wrapper
					img.catalog-item-img(src="./img/desk/catalog/jabo-5cg-gps-eco.jpg", alt="Jabo 2AL")
				p.catalog-item__title Радиоуправляемый катамаран Jabo 5CG с GPS и эхолотом
				.catalog-item-chars
					p.catalog-item-chars__text.catalog-item-chars__text--time Время работы: около 3-х часов
					p.catalog-item-chars__text.catalog-item-chars__text--radius Радиус действия: 500 м
					p.catalog-item-chars__text.catalog-item-chars__text--weight Грузоподъемность: 5 кг
					p.catalog-item-chars__text.catalog-item-chars__text--speed Скорость: 8-10 км/ч
				a.catalog-item__btn-details Подробнее
				.catalog-item-price-list
					span Цена:
					p.catalog-item-price-list__price 67 990 Руб.
					//- p.catalog-item-price-list__price-del 16 990 Руб.
				.catalog-item__btn Купить в 1 клик

		include catalog-item-popup.pug