section#reason.reason
	header.reason-header
		img(src="./img/desk/white-noise--contact.png", alt="")
		img(src="./img/desk/white-noise--contact.png", alt="")
		.container.reason-header__container
			p.reason-header__title Для чего нужен катер?
			.reason-header-benefits
				p.reason-header-benefits__aim Точно определяет, где рыба - гарантированный улов
				p.reason-header-benefits__worm Удобная подкормка рыбы на расстоянии
				p.reason-header-benefits__hook Быстрый клёв - с первой минуты
				img.reason-header-benefits__img(src="./img/desk/reason-benefit.png", alt="")

	footer.reason-footer
		.container.reason-footer__container
			img(src="../img/desk/reason-boat-big.png", alt="")
			.reason-footer__title Технические возможности
			.reason-footer-benefits
				p.reason-footer-benefits__mute Катер тихо работает и не отпугивает рыб
				p.reason-footer-benefits__eco Эхолот поможет увидеть косяки рыб и отдельных крупных особей. "Донным" гигантам не уйти!
				p.reason-footer-benefits__catch Подходит для любого типа ловли
