
section#rewies.rewies
	.container.rewies__container
		p.rewies__title Рекорды и отзывы наших клиентов

		.slider-container
			a.slider-btn--prev(type='button' onclick='REV.previous()')
			a.slider-btn--next(type='button' onclick='REV.next()')
			.slider-zone
				.slider-box
					.slider-box-photo
						img(src="./img/desk/rewies/slider-rewie-photo-1.png", alt="")
					.slider-box-rewie
						p.slider-box-rewie__text Мой огромный карп! До использования катера Jabo 2AL мне попадались только небольшие карпы. Теперь всё по-другому!
					.slider-box-footer
						img(src="./img/desk/rewies/slider-rewie-boat-1.png", alt="")
						.slider-box-footer-buy
							p.slider-box-footer-buy__model Радиоуправляемый катер Jabo 2Al
							p.slider-box-footer-buy__price Цена: <span>13 490 ₽</span>
							a.btn.slider-box__btn(href="" type="button") Купить в 1 клик
				.slider-box
					.slider-box-photo
						img(src="./img/desk/rewies/slider-rewie-photo-1.png", alt="")
					.slider-box-rewie
						p.slider-box-rewie__text Мой огромный карп! До использования катера Jabo 2AL мне попадались только небольшие карпы. Теперь всё по-другому!
					.slider-box-footer
						img(src="./img/desk/rewies/slider-rewie-boat-1.png", alt="")
						.slider-box-footer-buy
							p.slider-box-footer-buy__model Радиоуправляемый катер Jabo 2Al
							p.slider-box-footer-buy__price Цена: <span>13 490 ₽</span>
							a.btn.slider-box__btn(href="" type="button") Купить в 1 клик
				.slider-box
					.slider-box-photo
						img(src="./img/desk/rewies/slider-rewie-photo-1.png", alt="")
					.slider-box-rewie
						p.slider-box-rewie__text Мой огромный карп! До использования катера Jabo 2AL мне попадались только небольшие карпы. Теперь всё по-другому!
					.slider-box-footer
						img(src="./img/desk/rewies/slider-rewie-boat-1.png", alt="")
						.slider-box-footer-buy
							p.slider-box-footer-buy__model Радиоуправляемый катер Jabo 2Al
							p.slider-box-footer-buy__price Цена: <span>13 490 ₽</span>
							a.btn.slider-box__btn(href="" type="button") Купить в 1 клик