footer.main-footer
	header#contacts.footer-header
		img(src="./img/desk/white-noise--contact.png", alt="")
		img(src="./img/desk/white-noise--contact.png", alt="")

		.container.footer-header__container
			.footer-about
				p.footer-header__title О нас
				p.footer-header__text Мы являемся официальным дистрибьютером радиоуправляемых катеров для рыбалки Jabo. Это один из лидеров рынка, выпускающий очень доступные и при этом качественные кораблики уже больше 10 лет. Мы помогаем сделать рыбалку более интересной и эффективной.

				p.footer-about-mail__title Доставка по всей россии
				.footer-about-mail
					.footer-about-mail__russia
						img(src="./img/desk/pochtarf.png", alt="")
						p.footer-header__text 490 руб.
					.footer-about-mail__cdec
						img(src="./img/desk/cdek.png", alt="")
						p.footer-header__text 790 руб.

			.footer-contacts
				p.footer-header__title Контакты
				.footer-contacts__wrapper
					p.footer-contacts__title Санкт-Петербург
					p.footer-contacts__address <span>Адрес:</span> Лиговский 50, к.16, оф.122
					p.footer-contacts__tel Телефон: <a href="tel: 88126482237"> 8 (812) 648-22-37 </a>
				.footer-contacts__wrapper
					p.footer-contacts__title Москва
					p.footer-contacts__address <span>Адрес:</span> ул. Покровка, д.3-7 (ст. м. Китай-Город)
					p.footer-contacts__tel Tелефон: <a href="tel: 88005006237"> 8 (800) 500-62-57 </a>

	section#callback-footer.footer-callback
		.container.footer-callback__container
			p.footer-callback__title Остались вопросы?
			p.footer-callback__text Мы перезвоним Вам прямо сейчас абсолютно бесплатно и ответим на все вопросы
	
			form.footer-callback__form
				.input-field.footer__input-field
					input(type="tel" name='phone' required id='footer-phone')
					label(for="footer-phone") Ваш телефон:
				button.btn.footer__btn(type='submit') Заказать звонок

	footer.footer-footer
		.container.footer-footer__container
			p © 2014-2018 "Нащвание компании". Все права защищены.
			p Данный сайт носит информационный характер и не является публичной офертой.
			a(href="") Политика&nbsp;конфиденциальности
