header#promo.promo
	img.white-noise--top(src="./img/desctop/white-noise--top.png", alt="")
	.container.promo__container
		.promo__text-block
			h1 Радиоуправляемые катера для рыбалки с эхолотом
			.promo__price
				img(src="./img/desctop/price-my.png", alt="")
				p Сом, щука, карп - не важно<br>Удиви жену и собаку - привези реальный улов!
		.promo-gift
			.promo-gift-today
			.promo-gift-gift
			form.promo-gift-form
				div.input-field.input-field--1
					input(type="tel" name='phone' required id='promo-phone')
					label(for="promo-phone") Ваш телефон:
				button.btn.promo__btn(type='submit') Хочу подарок!
